body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

.box {
    width: 220px;
    height: 220px;
    background-color: #fff;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border: 2px solid #0009;
    box-sizing: border-box;
    overflow: auto;
}

/* Por defecto overflow tiene el atributo visible */
/* 

Los atributos:

Hidden: Elimina la zona con overlow cortándola

Scroll: Añade un scroll para poder ver la zona con overflow

Auto: Cuando el elemento no tenga overflow no habrá scroll

Clip: Añade una zona que ocuparía el scroll pero no lo añade

_______________________________________________________

Las propiedades:

Overflow: Desbordamiento

Overflow-x y overflow-y: seleccionan el scroll en los ejes x o y

*/