body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

* {
    box-sizing: border-box;
}

.grid {
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: repeat(minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #48e;
    padding: 10px;
    border-radius: 6px;
}

.grid-item p {
    font-size: 18px;
    margin: 0;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}