body {
    background-color: red;
    margin: 0;
}

.box {
    width: 300px;
    height: 400px;
    background: linear-gradient(transparent, #000a);
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    border-top: 6px solid #900;
}

h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

img {
    width: 300px;

}

/*
 Linear gradient sirve para crear un degradado lineal.
 Podemos darle una dirección al degradado: to right, to left, to top, to bottom.
 Radial gradient sirve para crear un degradado radial.
 Conic gradient sirve para crear un degradado cónico.
*/
