body {
    font-family: Arial;
    margin: 0;
    background-color: #e2eaff;
    color: #101632dd;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div, ul, nav, header, footer, a, li, label, input {
    margin: 0;
    padding: 0;
}

/* ------- HEADER SECTION ------- */

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #48e;
}

.header__open-nav-button {
    color: #48e;
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    right: 10px;
    z-index: 20;
}

.header__checkbox {
    display: none;
}

.header__nav {
    display: none;
    background-color: #fff;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 10;
}

.header__nav-list {
    display: flex;
    margin: auto;
    flex-direction: column;
    height: 40vh;
    justify-content: space-evenly;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__logo {
    max-width: 100%;
    width: 64px;
    margin: 10px 20px;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a {
    color: inherit;
    text-decoration: none;
}

.header__nav-item :is(:hover, :active) {
    text-decoration: underline;
}

/* ------- HEADER QUERIES ------- */

@media screen and (min-width: 600px) {

    .header {
        animation: header-movement both;
        animation-timeline: scroll();
        animation-range: 10px 100px;
        position: sticky;
        top: 0;
        z-index: 30;
    }

    .header__nav {
        display: block;
        position: static;
        width: auto;
        height: auto;
        z-index: 10;
        background-color: initial;
    }

    .header__nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        margin-right: 40px;
        height: auto;
    }

    .header__open-nav-button {
        display: none;
    }
}

/* ------- HEADER ENDS ------- */

/* ------- PROFILE SECTION ------- */

.profile {
    container-type: inline-size;
    container-name: profile;
    animation: show 3s -.6s both;
}

.profile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    max-width: 1400px;
    margin: auto;
}

.profile__data-container {
    max-width: 600px;
    padding: 12px;
}

.profile__img-container {
    max-height: 500px;
    overflow: hidden;
}

.profile__img {
    max-width: 100%;
    width: 720px;
}

h1  {
    font-size: 45px;
    color: #26a;
    text-wrap: balance;
}

.profile__skills-container h2 {
    color: #26a;
}

.profile__skill {
    list-style: none;
    display: flex;
    max-width: 600px;
    margin: 10px;
    margin-left: 0;
    align-items: center;
}

.profile__skill-name {
    color: #48e;
    font-weight: bold;
    margin-left: 2px;
}

.load-bar {
    border: 2px solid #48e;
    border-radius: 8px;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    width: 80%;
    margin: 4px;
    margin-left: 0;
}

.load-bar__bar {
    background-color: #48e;
    border-radius: 4px;
    padding: 4px 6px;
}

.bar--80 {
    width: 80%;
}

.bar--70 {
    width: 70%;
}

.bar--60 {
    width: 60%;
}

.bar--40 {
    width: 40%;
}

p {
    text-wrap: pretty;
}

/* ------- PROFILE QUERIES ------- */

@container profile (min-width: 720px) {
    .profile__wrapper {
        flex-direction: row;
        padding: 20px;
        background-color: transparent;
    }

    .profile__data {
        max-width: 620px;
    }

    .profile__img-container {
        max-height: initial;
        border-radius: 25px 0 0 25px;
        box-shadow: 0 0 10px 0 #002;
    }

    .profile__img {
        width: 620px;
        height: 100%;
        object-fit: cover;
    }

    .profile__data-container { 
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 25px 25px 0;
        box-shadow: 0 0 10px 0 #002;
    }
}

/* ------- PROFILE ENDS ------- */

/* ------- PORTFOLIO SECTION ------- */

.portfolio {
    background-color: #18233f;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    container-name: portfolio;
    container-type: inline-size;
}

.portfolio__title {
    font-size: 3rem;
    margin-bottom: 0;
}

.portfolio__project-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    max-width: 1100px;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 80vh;
}

.portfolio__project {
    background-image: linear-gradient(#0008, #0008), url("profile-image.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    animation: show both;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
    border-radius: 8px;
}

.portfolio__project:hover {
    opacity: 0.74;
    outline: 2px solid #26a;
}

/* ------- PORTFOLIO QUERIES ------- */
@container portfolio (min-width: 56.25rem) {
    .portfolio__project-container {
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    }

    .portfolio__project:first-child {
        grid-column: span 2;
    }

    .portfolio__project:last-child {
        grid-column: span 2;
    }
}

@container portfolio (min-width: 81.25rem) {
    .portfolio__project-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .portfolio__project:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }

    .portfolio__project:nth-child(6) {
        grid-column: span 4;
    }
}

/* ------- PORTFOLIO ENDS ------- */

/* ------- FORM SECTION ------- */

.form {
    max-width: 1000px;
    min-height: 50vh;
    padding: 10px;
    margin: auto;
    container-name: contact-form;
    container-type: inline-size;
}

.form__form {
    flex: 1;
    display: grid;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 10px;
    animation: show both;
    animation-timeline: view();
    animation-range: cover 0% contain 90%;
}

.form__input-container {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.form__input-container:nth-child(4) {
    flex-direction: column;
    align-items: start;
}

.form__title {
    font-size: 1.6em;
    margin: 5px 0 20px 0;
}

.form__input-container :is(input, textarea) {
    width: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
}

.form__input-container textarea {
    margin-top: 10px;
    margin-left: 0;
    min-height: 100px;
    resize: none;
    font-family: inherit;
    font-size: 14px;
}

.form__input-container input[type="submit"] {
    background-color: transparent;
    font-size: 1rem;
}

.input--submit {
    background-color: #48f;
}

/* ------- FORM QUERIES ------- */

@container contact-form (min-width: 800px) {
    .form__form {
        grid-template-columns: 1fr 1fr;
        box-shadow: 0 0 10px 0 #0008;
        padding: 20px;
        border-radius: 6px;
        margin-bottom: 30px;
    }

    .input--submit {
        grid-column: span 2 ;
    }

    .form__input-container:nth-child(3) {
        grid-column: span 2;
    }

    .form__input-container:nth-child(4) {
        grid-column: span 2;
    }
}

/* ------- FORM ENDS ------- */

/* ------- FOOTER SECTION ------- */

footer {
    background-color: #18233f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #fffd;
}

/* ------- FOOTER ENDS ------- */
/* ------- ANIMATIONS ------- */
@keyframes header-movement {
    from {
        padding: 20px 0;
        background-color: #fff;
        color: #48e;
    }

    to {
        padding: 0;
        background-color: #101632dd;
        color: #fff;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}