<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Layout</title>
    <meta name="title" content="Sitio web Nature's Society">
    <meta name="description" content="En este sitio web encontrarás todo lo que necesitas sobre animales y rutas de senderismo">
    <meta name="author" content="Héctor Ixcamparic">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <img src="naturessociety.webp">
            <ul class="nav__ul-container">
                <li class="nav__item"><a href="#" class="nav__link">NATURE'S SOCIETY</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Sobre Nosotros</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contacto</a></li>
                <li class="nav__item"><a href="#" class="nav__link link--log-in"><span>Log In</span></a></li>
            </ul>
        </nav>
        <div class="header__content">
            <img src="duck.png" alt="Pato de Negocios">
            <h1>NATURE'S SOCIETY 2025</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, labore porro! Hic odio sed at praesentium eligendi, dolores quibusdam, esse molestiae magnam culpa blanditiis asperiores ut quo omnis eveniet? Illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis consequuntur eveniet quos veritatis beatae necessitatibus veniam inventore blanditiis, sit debitis quam nam vel commodi molestiae asperiores quod quis ullam atque!</p>
        </div>
    </header>
    <section>
        <div class="section__content">
            <h2>Rutas de Senderismo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad assumenda, optio ducimus aperiam, culpa possimus cum totam odio accusantium placeat corrupti ea blanditiis deserunt facilis, libero enim impedit animi eveniet.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, modi, corrupti cumque cupiditate voluptatibus, delectus unde quos quae animi expedita accusantium soluta dolore voluptas? Animi nam recusandae commodi error placeat.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quos ut odio! Cumque doloribus obcaecati temporibus sunt voluptatem inventore, nobis error quos modi quas repudiandae quaerat ipsum fuga natus molestiae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis pariatur nisi iure cum officia blanditiis quos dolor nihil corrupti eius, tempora ex enim. Totam esse architecto excepturi tenetur suscipit ea.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum reprehenderit quo inventore fuga delectus facilis repudiandae impedit quibusdam, suscipit deserunt corrupti! Deserunt magnam voluptate, voluptatum nihil beatae earum quaerat iure?</p>
        </div>
    </section>
</body>
</html>