body {
    margin: 0;
    font-family: sans-serif;
    background-color: #272725;
    color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER SECTION */

.header__content {
    background-image: linear-gradient(rgba(30, 50, 30, 0.5), rgba(30, 50, 30, 0.5)), url(background-header.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 77vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__content > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 30px 0;
}

.header__content h1 {
    margin: 0 0 10px 0;
    font-size: 3.2rem;
    text-wrap: balance;
}

.header__content p {
    margin: 10px 0;
    font-size: 1.15rem;
    line-height: 1.25;
    text-wrap: pretty;
}

/* NAVBAR SECTION */

.nav {
    background-color: #272725;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0;
}

.nav__ul-container {
    list-style: none;
    display: flex;
}

.nav__link {
    color: #fff;
    flex: 0 1 auto;
    margin: 15px;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}

.link--log-in {
    align-self: center;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: #fff;
    color: #272725;
    border-radius: 6px;
    transition: background-color 0.4s, outline 0.4s;
}

.link--log-in:hover {
    background-color: #ccc;
    text-decoration: none;
}

.link--log-in:active {
    outline: 1px solid #fff;
    outline-offset: 2px;
}


span {
    color: #272725;
}

.nav img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 15px;
}

/* FIRST SECION  */

.section__content {
    margin: 40px 100px;
}

h2 {
    font-size: 22px;
    text-wrap: balance;
}

p {
    font-size: 18px;
    text-wrap: pretty;
    margin: 10px 0;
}