body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ddd;
}

* {
    box-sizing: border-box;
}

header, .main-wrapper, footer {
    width: 100%;
}

/* MAIN NAVBAR */

.nav {
    background-color: #fa0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px;
}

.nav__logo-container {
    display: flex;
    align-items: center;
}

.nav__logo-container .nav__ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.nav__ul-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    gap: 10px;
}

.nav__link {
    margin: 10px;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
}

.nav__link:hover {
    text-decoration: underline;
}

/* MAIN WRAPPER */

.main-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin-inline: auto;
    background-color: #fff;
}

.main-wrapper aside {
    padding: 10px 20px;
    max-width: 300px;
}

.secondary-navbar {
    min-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.secondary-navbar h2 {
    font-size: 20px;
    font-weight: 100;
    text-wrap: balance;
    margin: 20px 0;
    align-items: center;
}

.secondary-navbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.secondary-navbar a:link {
    color: #48e;
}

.secondary-navbar a:visited {
    color: #247;
}

.main-wrapper main {
    flex-grow: 2;
    padding: 20px;
}

footer {
    margin-top: auto;
    border: 1px solid #000;
    padding: 40px;
    background-color: #000;
    color: #fff;
}

p {
    text-wrap: pretty;
}

@media screen and (max-width: 800px) {
    aside:last-child  {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    .main-wrapper {
        flex-direction: column;
        padding: 20px;
    }

    .main-wrapper aside,
    .main-wrapper main {
        max-width: none;
        min-width: 0;
        width: 100%;
    }

    .secondary-navbar {
        align-items: center;
    }
}