body {
    margin: 0;
    font-family: sans-serif;
}

div {
    padding: 20px;
    background-color: #999;
}

a {
    background-color: #00f;
    color: #fff;
    display: block;
    border: 1px solid #000;
    margin: 20px;
    padding: 10px;
}

p {
    display: inline;
    margin: 0;
    background-color: #00f;
    color: #fff;
    margin: 5px;
}

.nav {
    background-color: #48e;
    font-size: 20px;
}

.nav__list {
    margin: 0;
}

.nav__item {
    display: inline-block;
    box-sizing: border-box;
}

.nav__link {
    font-size: 1em;
    color: #fff;
    background-color: transparent;
    border: transparent;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.link--button {
    border: 1px solid #fff;
    margin-left: 10px;
    padding: 10px 15px;
}

.button--blue {
    border: 1px solid transparent;
    background-color: #fff;
    color: #48e;
}

.nav__link:hover {
    text-decoration: underline;
}

.link--button:hover {
    background-color: #fff;
    color: #48e;
    text-decoration: none;
}

.link--button:active {
    border: 1px solid #243;
}