body {
    font-family: sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(237, 161, 20);
}

.box {
    padding: 20px;
    border: 6px solid #48e;
    border-radius: 8px;
}

.box:first-child {
    animation: rotate 4s ease backwards;
    animation-iteration-count: 2.5;
}

.box:last-child {
    animation: skew 4s ease backwards;
    animation-iteration-count: 3;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes skew {
    0% {
        transform: skew(0deg);
    }
    100% {
        transform: skew(180deg);
    }
}

img {
    width: auto;
    height: 100px;
}

.container a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    scale: 1;
    transition: scale 0.3s ease;
}

.container a:hover {
    scale: 1.4;
}

.section {
    min-height: 200vh;
    background-color: rgba(237, 161, 20, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.section .container {
    height: 1000px;
}

.section .box {
    animation: translate linear forwards;
    animation-timeline: scroll();
    animation-range: 50% 100%;
    filter: grayscale(100%);
    margin-top: 20px;
    position: sticky;
    top: 10px;
}

@keyframes translate {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(1000px);
    }
}

/* 

Scale(): Permite agrandar o disminuir el tamaño de un elemento proporcionalmente.
Se pude combinar scaleY y scaleX en 2 valores, (x, y).

 - ScaleY(): Agranda o disminuye el tamaño de un elemento en el eje Y.

 - ScaleX(): Agranda o disminuye el tamaño de un elemento en el eje X.

Skew(): Permite inclinar a un elemento en los ejes X y Y.

 - SkewY(): Inclina un elemento en el eje Y.

 - SkewX(): Inclina un elemento en el eje X.

Rotate(): Permite rotar un elemento en grados.
*/