body {
    background-color: #ededed;
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 0;
    position: relative;
    z-index: 10;
}

.box--blue {
    background-color: #00f;
    top: 40px;
    left: 30px;
    z-index: 20;
}

.box:first-child {
    background-color: red;
    top: 90px;
    left: 80px;
    z-index: 30;
}

.box__paragraph {
    text-align: center;
    color: #fff;
}

/* El atributo por defecto de position es "static"  */

/* 

Las propiedades de position: relative son top, bottom, left y right. Todos estos se pueden
combinar estableciendo cada una de las propiedades.

Tienen prioridad las propiedades top y left sin importar su especificidad con bottom o right.

La propiedad z-index sirve para cambiar el nivel del eje z de un elemento.

*/