body {
    margin: 0;
    font-family: sans-serif;
}

body, div {
    box-sizing: border-box;
}

.flexbox {
    width: 96%;
    height: 95vh;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px 0;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    color: #fff;
    margin-bottom: 20vh;
}

.flexbox__flex-item {
    width: 150px;
    background-color: #911;
    padding: 5px 0;
    font-size: 40px;
    text-align: center;
}

.flexbox__flex-item:first-child {
    background-color: #f77;
}

.flexbox__flex-item:last-child {
    background-color: #611;
}

.flexbox-2 {
    width: 96%;
    height: 400px;
    margin: 0 10px 20vh 10px;
    padding: 5px 0;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flexbox-2__flex-item {
    width: 150px;
    background-color: #f77;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.flexbox-3 {
    width: 96%;
    height: 400px;
    margin: 0 10px 20vh 10px;
    padding: 5px 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    box-sizing: border-box;
}

.flexbox-3__flex-item {
    width: 100%;
    background-color: #911;
    text-align: center;
    font-size: 40px;
    color: #fff;
}
.flexbox-3__flex-item:first-child {
    background-color: #f77;
}

.flexbox-3__flex-item:last-child {
    background-color: #611;
}

.flexbox-4 {
    width: 96%;
    height: 400px;
    margin: 0 10px 20vh 10px;
    padding: 5px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-evenly;
    box-sizing: border-box;
}

.flexbox-4__flex-item {
    width: 110px;
    height: 110px;
    padding: 28px 0;
    background-color: #911;
    text-align: center;
    font-size: 40px;
    color: #fff;
    box-sizing: border-box;
}

.flexbox-4__flex-item:hover {
    width: 120px;
    height: 120px;
    padding: 38px 0;
    background-color: #fff;
    color: #911;
    border: 1px solid #911;
}

.flexbox-4__flex-item:first-child {
    background-color: #f77;
}

.flexbox-4__flex-item:first-child:hover {
    background-color: #fff;
    color: #f77;
    border: 1px solid #f77;
}

.flexbox-4__flex-item:last-child {
    background-color: #611;
}

.flexbox-4__flex-item:last-child:hover {
    background-color: #fff;
    color: #611;
    border: 1px solid #611;
}

p {
    margin: 0;
}

/* 

Justify-content:

    Start: Es su valor por defecto.

    End: Alinear los items al final.

    Center: Alinear los items en el centro.

    Space-between: Añade espacio entre los items acomodandolos al width del flexbox

    Space-around: Añade espacio entre los items con el doble del margin definido y solo con el original es sus costados.

    Space-evenly: Añade espacio entre los items con el margin definido.

______________________________________________

Align-items:

    Stretch: Si los flex-items no tienen height, los estira dependiendo del cross-axis, hasta ocupar el tamaño para cubrir el flexbox. (Por defecto)

    Start: Posiciona a los flex-items al principio.

    Center: Posiciona a los flex-items al centro.

    End: Posiciona a los flex-items al final.

    Baseline: Alinea de acuerdo a la dirección del texto.

_______________________________________

Align-content: Da un espaciado o margen a los items que se encuentren abajo, 

*/