body {
    margin: 0;
    font-family: sans-serif;
    background-color: #222;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    padding: 30px 50px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 3px;
    position: relative;
}

.btn-1, .btn-3 {
    border: 1px solid #48e;
}

/* ------- WAVE BUTTON ------- */

.btn-1 {
    overflow: hidden;
}

.btn-1::before {
    content: '';
    position: absolute;
    width: 160%;
    height: 200%;
    background-color: #48e;
    z-index: -1;
    transition: top .6s, left .6s;
    border-radius: 50%;
    top: 100%;
    left: 30%;
}

.btn-1:hover::before {
    content: '';
    top: -20%;
    left: -30%;
}

/* ------- NEON BUTTON ------- */

.button-container:has(.btn-2) {
    filter: drop-shadow(0, 0, 15px #48e);
}

.btn-2 {
    border: 1px solid #fff3;
    color: #fff3;
}

.btn-2:hover {
    animation-name: parpadear;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn-2::before {
    content: '';
    position: absolute;
    width: 35%;
    height: 1px;
    background-color: #48e;
    opacity: 0;
    top: -26px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    transition: opacity 1s, top 1s, width 1s;
}

.btn-2:hover::before {
    width: 70%;
    top: -6px;
    opacity: 1;
    animation-name: parpadear-linea;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}

.btn-2::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: #48e;
    opacity: 0;
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    transition: opacity 1s, top 1s, width 0.4s;
}

.btn-2:hover::after {
    width: 60%;
    top: -10px;
    opacity: 1;
    animation-name: parpadear-linea;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}

@keyframes parpadear {
    0% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    10% {
        color: rgb(159, 197, 255);
        text-shadow: 0 0 6px #48ee, 0 0 3px rgb(159, 197, 255, 0.454);
    }

    20% {
        border: 1px solid #fff3;
        box-shadow: none;
    }

    30% {
        color: rgb(159, 197, 255);
        text-shadow: 0 0 6px #48ee, 0 0 3px rgb(159, 197, 255, 0.454);
    }

    40% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    50% {
        border-color: #48e;
        box-shadow: 0 0 10px 0 #48e3, 0 0 16px #48e5;
    }

    60% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    70% {
        color: rgb(159, 197, 255);
        text-shadow: 0 0 6px #48ee, 0 0 3px rgb(159, 197, 255, 0.454);
    }

    80% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    90% {
        border-color: #48e;
        box-shadow: 0 0 10px 0 #48e3, 0 0 16px #48e5;
    }

    100% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }
}

@keyframes parpadear-linea {
    0% {
        background-color: #48e;
        box-shadow: none;
    }

    10% {
        background-color: #fff3;
        box-shadow: 0 0 10px 0 #48e3, 0 0 16px #48e;
    }

    20% {
        background-color: #48e;
        box-shadow: none;
    }

    30% {
        background-color: #fff3;
        box-shadow: 0 0 10px 0 #48e3, 0 0 16px #48e5;
    }

    40% {
        background-color: #48e;
        box-shadow: none;
    }

    50% {
        background-color: #fff3;
        box-shadow: 0 0 10px 0 #48e3, 0 0 16px #48e5;
    }

    60% {
        background-color: #48e;
        box-shadow: none;
    }

    70% {
        background-color: #fff3;
        box-shadow: 0 0 10px 0 #48e3, 0 0 16px #48e5;
    }

    80% {
        background-color: #48e;
        box-shadow: none;
    }

    90% {
        border-color: #48e;
        box-shadow: 0 0 10px 0 #48e3, 0 0 16px #48e5;
    }

    100% {
        background-color: #fff3;
        box-shadow: 0 0 10px 0 #48e3, 0 0 16px #48e5;
    }
}

/* ------- SHADE BUTTON ------- */

.btn-3 {
    background-color: #222;
}

.btn-3::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #48e;
    position: absolute;
    z-index: -1;
    border-radius: 6px;
    opacity: 0;
}

.btn-3:hover::before {
    display: block;
    animation-name: power-sombra;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes power-sombra {
    0% {
        opacity: 0; 
        top: 0px;
        left: 0px;
    }

    100% {
        opacity: 1;
        top: -10px;
        left: -10px;
    }
}

.btn-3:hover {
    cursor: grab;
}

@media (prefers-reduced-motion: reduce) {
    .btn, .btn::before, .btn::after {
        animation: none;
    }
}