body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 94vh;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    justify-items: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-evenly;
    border: 2px solid #444;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 #000;
}

.grid-item {
    background-color: #07a;
    border-radius: 12px;
    transition: background-color .25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    padding: 20px;
    cursor: grab;
}

.grid-item:first-child {
    grid-area: 3/1/span 2/span 2;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    align-items: stretch;
    background-color: transparent;
    padding: 0;
    gap: 20px;
}

.grid-item:first-child:hover {
    background-color: transparent;
}

.grid-item:hover {
    background-color: #058;
}

.subgrid-item {
    background-color: #e66;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.subgrid-item:hover {
    background-color: #c44;
}

.subgrid-item:first-child {
    order: 2;
    background-color: #477;
    width: 400px;
}

.subgrid-item:first-child:hover {
    background-color: #255;
}