body {
    margin: 0;
    font-family: sans-serif;
}

.flexbox {
    height: 100px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #003;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.flexbox__flex-item {
    width: 100px;
    padding: 5px 0;
    background-color: #911;
    font-size: 40px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    order: 1;
}

.flexbox__flex-item:first-child {
    background-color: #f77;
    order: 3;
}

.flexbox__flex-item:last-child {
    background-color: #611;
    order: 2;
}


p {
    margin: 0;
}