td, th {
    border-bottom: 1px solid #000; 
    padding:4px 6px;
    font-family: sans-serif;
    padding-bottom: 6px;
}

td {
    color: #444;
}

table {
    width: 100%;
    border-spacing: 20px;
    box-shadow: 0px 0px 25px #0002;
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
}

.dato_total, .header_total {
    border: none;
    padding: 12px;
    font-size: 1.2em;

}