body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.flexbox {
    height: 500px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
}

.flexbox__flex-item {
    padding: 5px 0;
    background-color: #911;
    font-size: 40px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    flex: 1 1 150px;
}
.flexbox__flex-item:last-child {
    background-color: #611;
}

.flexbox__flex-item:nth-child(2n) {
    background-color: #f77;
}

.flexbox__flex-item:nth-child(5) {
    align-self: stretch;
}

.flexbox__flex-item:hover:nth-child(9) {
    align-self: stretch;
}

p {
    margin: 0;
}