body {
    font-family: sans-serif;
    margin: 0;
    background-color: #ccca;
}

* {
    box-sizing: border-box;
}

.box {
    margin: 20px;
    padding: 6px;
    min-height: 80px;
    background-color: #fff;
    border: 4px solid #48e;
    border-radius: 39px;
    transition: border .6s ease;
}

.barra {
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 10%;
    transition: width .6s ease, background-color .6s ease;
}

.barra:active {
    width: 100%;
    transition-duration: 1s;
    transition-timing-function: steps(10);
    background-color: #f00;
}

.box:has(.barra:active) {
    border: 4px solid #f33;
    transition-duration: 1s;
    transition-timing-function: steps(10);
}

@media (prefers-reduced-motion: reduce) {
    .barra, .box {
        transition: width 5s ease, border 5s ease, background-color 5s ease;
    }
}

/* 

Con animation: none se pueden desactivar las animaciones.

@media (prefers-reduced-motion: reduce):

Especifica que mostrar si lo utiliza una persona con dislexia u otras discapacidades que pueden afectar debido a animaciones bruscas.

*/