body {
    font-family: arial;
    margin: 0;
    background-color: #222;
    display: flex;
}

* {
    box-sizing: border-box;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: auto;
    filter: drop-shadow(0 0 12px #fff) drop-shadow(0 0 3px #fff);
}

.text {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 5px;
    animation: grow 1.5s both steps(7);
    overflow: hidden;
    position: relative;
}

.text::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 6px;
    animation: titilar .3s infinite alternate;
}


@keyframes grow {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes titilar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}