body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 300px) 1fr);
    grid-template-rows: repeat(3, 200px);
}

.grid-item {
    background-color: #48e;
    margin: 10px;
    padding: 10px;
}

.grid-item p {
    font-size: 30px;
    margin: 0;
    color: #fff;
}