body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
}

.overlay {
    background: linear-gradient(to top, #fff, transparent);
    position: absolute;
    z-index: 20;
    width: 100vw;
    bottom: 0;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    background-color: #00f;
    padding: 150px;
    position: relative;
    overflow: hidden;
}

.container__box-flex {
    width: 200px;
    background-color: #fff;
    position: fixed;
    right: 0;
    border: 2px solid #000;
    border-right: 0;
    box-shadow: 0 0 20px 0;
    padding: 20px;
    z-index: 40;
    box-sizing: border-box;
}

.container__box-sticked {
    width: 300px;
    background-color: #3af;
    position: sticky;
    z-index: 30;
    box-sizing: border-box;
    color: #fff;
    padding: 20px;
}

.first {
    top: 20px;
}

.last{
    top: 212px;
}

.last2 {
    top: 404px;
}

h2 {
    font-size: 18px;
    margin: 0;
}

.container__box-sticked > h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 100;
}

.container__box-sticked > p {
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
}

p {
    font-size: 14px;
    margin-top: 10px;
}

button {
    padding: 5px 8px;
    border: none;
    border-left: 3px solid rgb(147, 223, 61);
    background-color: #000;
    color: #fff;
}