body {
    font-family: sans-serif;
    margin: 0;
    --height-of-box: 100px;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.box {
    margin: 0 auto;
    font-size: clamp(1.2rem, 1.6vw, 3.2rem);
    padding: 0 40px;
    border: 5px solid #000;
    width: 100%;
}

.box:first-child {
    height: var(--height-of-box);
    justify-content: start;
}

.box:nth-child(2) {
    height: calc(100vh - var(--height-of-box));
    overflow: auto;
}