body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

* {
    box-sizing: border-box;
}

.grid {
    width: 90vw;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-auto-rows: 150px;
    grid-auto-flow: row;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #48e;
    padding: 10px;
}

.grid-item p {
    font-size: 30px;
    margin: 0;
    color: #fff;
}

/* 

Column-gap: Márgen entre columnas.

Row-gap: Márgen entre filas.

Gap: Shorthand para las 2 propiedades:
gap: column-gap row-gap;

*/