* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
    --bg-color: color-mix(in srgb, #f62 70%, #fff);
    --sidebar-color: #fff;
    --dark-color: #f62;
    --text-color: #333;
    background-color: var(--bg-color);
}

div, ul, li, a, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.sidebar__nav label {
    user-select: none;
}

/* SIDEBAR STYLES */

.sidebar {
    background-color: var(--sidebar-color);
    position: sticky;
    top: 0;
    width: clamp(220px, 30vw, 400px);
    font-size: clamp(1rem, 2.2vw, 3rem);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}

.sidebar__nav {
    display: flex;
    flex: 1;
}

.sidebar__nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.sidebar__item {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--dark-color);
    border-radius: 36px 0 0 36px;
    position: relative;
}

.sidebar__item:hover {
    background-color: var(--bg-color);
    color: var(--sidebar-color);
}

.sidebar__item::before, .sidebar__item::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
}

.sidebar__item:hover::before {
    top: -18px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--bg-color);
}

.sidebar__item:hover::after {
    bottom: -18px;
    border-top-right-radius: 25px;
    box-shadow: 4px -4px 0 4px var(--bg-color);
}

.sidebar__item a {
    color: inherit;
    text-decoration: none;
    font-size: .9rem;
    padding-right: 6px;
}

.sidebar__item span {
    padding: 15px;
}

/* SIDEBAR PICTURE STYLES */

.sidebar__picture {
    margin-left: 1.5rem;
    position: relative;
    z-index: 10;
}

.sidebar__picture img {
    width: clamp(4rem, 75%, 20rem);
    margin: auto;
    opacity: 0.82;
    filter: hue-rotate(-22deg);
}

/* SIDEBAR MENU STYLES */

.sidebar__item-profile {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.sidebar__item-profile span {
    padding: 20px;
    color: var(--text-color);
}

.sidebar__profile img {
    border-radius: 40px;
    margin-left: 4px;
    width: 1.8rem;
}

.sidebar__profile .sidebar__item:hover {
    background-color: transparent;
    color: var(--dark-color);
}

.sidebar__profile .sidebar__item:hover::before, .sidebar__profile .sidebar__item:hover::after  {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.sidebar__form {
    position: absolute;
    z-index: 20;
    right: -1rem;
}

.sidebar__form .open-button {
    display: none;
}

.sidebar label {
    position: relative;
    color: var(--sidebar-color);
    background-color: var(--bg-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: .5rem;
}

.sidebar label::before, .sidebar label::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: 13px;
    height: 25px;
    background-color: transparent;
}

.sidebar label::before {
    top: -25px;
    left: 20px;
    border-bottom-right-radius: 30px;
    box-shadow: 4px 4px 0 4px var(--bg-color);
}

.sidebar label::after {
    bottom: -25px;
    left: 20px;
    border-top-right-radius: 30px;
    box-shadow: 4px -4px 0 4px var(--bg-color);
}

input[type="checkbox"]:checked ~ label {
    color: var(--bg-color);
    background-color: var(--sidebar-color);
}

input[type="checkbox"]:checked ~ label::after, input[type="checkbox"]:checked ~ label::before{
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) {
    width: fit-content;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__form label {
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__form .open-button {
    display: block;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__picture {
    width: 4.2rem;
    object-fit: cover;
    margin-left: 0;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__form {
    top: 5rem;
    width: fit-content;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__item a,
.sidebar:has(input[type="checkbox"]:checked) .sidebar__item-profile span {
    display: none;
}