body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 50px);
    gap: 20px;
    padding: 20px;
    margin: 20px;
    justify-items: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-evenly;
    height: 300px;
    border: 2px solid #444;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 #000;
}

.grid-item {
    background-color: #07a;
    border-radius: 12px;
    transition: background-color .25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    padding: 20px;
    cursor: grab;
}

.grid-item:first-child {
    background-color: #e66;
}

.grid-item:first-child:hover {
    background-color: #c44;
}

.grid-item:hover {
    background-color: #058;
}