body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    padding: 10px;
    max-width: 700px;
    margin: auto;
}

.block {
    min-width: 200px;
    padding: 10px;
    background-color: #7bf;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}