body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-auto-rows: 150px;
    grid-auto-flow: row;
}

.grid-item {
    background-color: #48e;
    margin: 10px;
    padding: 10px;
}

.grid-item p {
    font-size: 30px;
    margin: 0;
    color: #fff;
}

/* 

Grid-auto-flow: Define la dirección en la que se posicionaran grid-items explícitos, por defecto row.

Grid-auto-rows: Define la altura de los grid-items explícitos.

Grid-auto-columns: Define la longitud de los grid-items implícitos.

*/