body {
    font-family: sans-serif;
    margin: 0;
    background-color: #ccca;
}

* {
    box-sizing: border-box;
}

.crecedor {
    height: 200vh;
}

.container {
    height: 100vh;
    scroll-timeline: --containerBox block;
    overflow-y: scroll;
}

.box {
    padding: 6px;
    min-height: 80px;
    background-color: #fff;
    border: 4px solid #48e;
    border-radius: 39px;
    position: sticky;
    top: 10px;
    width: 98.5%;
    margin: auto;
}

.barra {
    padding: 40px;
    background-color: #f00;
    border-radius: 30px;
    width: 10%;
    animation-name: llenar-barra;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-timeline: --containerBox;
}

.barra:active {
    animation-play-state: paused;
}

@keyframes llenar-barra {
    from {
        width: 10%;
        background-color: #f00;
    }

    to {
        width: 100%;
        background-color: #48e;
    }
}

/* 

scroll-timeline-name: --body; // Da nombre al scroll

scroll-timeline-axis: block; // Solo funcionael scroll en vertical (inline para horizontal)

Shorthand para scroll-timeline: scroll-timeline: --body block;

*/